<h1>Nuevo departamento</h1>
<form method="post">
    <lable>Número</lable>
    <input type="text" name="iddepartamento" class="form-control" />
    <label>Nombre</label>
    <input type="text" name="nombre" class="form-control" />
    <label>Localidad</label>
    <input type="text" name="localidad" class="form-control" />
    <button type="submit" class="btn btn-success">Crear</button>
</form>