@model Departamento
<h1>Detalles de "@Model.Nombre"</h1> 
<h3>Número: <span style="color: orange">@Model.IdDepartamento</span></h3>
<h3>Nombre: <span style="color: orange">@Model.Nombre</span></h3>
<h3>Localidad: <span style="color: orange">@Model.Localidad</span></h3>
<br />
<a asp-controller="Home" asp-action="Index" style="color: blue">Volver a la lista</a>