@model Departamento
<h1>Detalles de "@Model.Nombre"</h1> 
<h3>Número: <span style="color: orange">@Model.IdDepartamento</span></h3>
<h3>Nombre: <span style="color: orange">@Model.Nombre</span></h3>
<h3>Localidad: <span style="color: orange">@Model.Localidad</span></h3>